@using HockeySignupsWebApplication.web.Models
@using HockeySignupsWebApplication.data
@model SeeHistoryModel
    <div class="col-md-6 col-md-offset-4">
    <div class="well">
        <table class="table table-striped table table-bordered table-hover">
            <tr>
                <th>Date</th>
                <th>Players</th>
                <th>See details</th>
            </tr>
            @foreach (GamesWithPlayerCount game in Model.Games)
            {
                <tr>
                    <td>@game.Date.ToShortDateString()</td>
                    <td>@game.PlayerCount / @game.MaxPlayers</td>
                    <td><a class="btn btn-primary" href="SeePlayers?Id=@game.Id">See details</a></td>
                </tr>
            }
        </table>
    </div>
</div>
