@using HockeySignupsWebApplication.web.Models
@using HockeySignupsWebApplication.data
@model SeePlayerView
<div class="col-md-6 col-md-offset-4">
    <div class="well">
        <table class="table table-striped table table-bordered table-hover">
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
            @foreach (Player p in Model.Players)
            {
                <tr>
                    <td>@p.FirstName</td>
                    <td>@p.LastName</td>
                    <td>@p.Email</td>
                </tr>
            }
        </table>
    </div>
</div>

